.bottom {
  background-color: grey;
  position: relative;
  height: 80px;

  &__title {
    padding: 3% 0 0 0;
  }
  &__container {
    margin: 4%;
  }

  &__li {
    width: 20%;
    height: 400px;
    border-radius: 5%;
    margin: 0 2%;
    text-align: center;
    background-color: red;
  }

  &__box1 {
    height: 370px;
    background-color: greenyellow;
    border-radius: 5%;
    margin: 5%;
  }

  &__box2 {
    height: 180px;
    background-color: aqua;
    border-radius: 5%;
    margin: 5%;
  }
}
