.bottom {
  background-color: grey;
  position: relative;
  height: 70px;
  width: 1903px;
  &__notice,
  &__article {
    position: relative;
    float: left;
    width: 40%;

    margin: 0 5%;
    font-size: 1.2rem;
  }

  &__tag {
    padding: 3% 0 2% 0;
    float: left;
    position: relative;
    width: 25%;
    border-color: red;
  }
  &__content {
    padding: 3% 0 2% 0;
    float: left;
    width: 50%;
    border-color: green;
  }
  &__arrow {
    padding: 3% 0 2% 0;
    float: left;
    width: 15%;
    border-color: blue;
  }
}
